body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid white;
    border-radius: 5px;
}

header nav ul li a:hover {
    background-color: white;
    color: #4CAF50;
}

main {
    padding: 1em;
    flex: 1;
    margin-bottom: 80px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #808080;
    color: white;
    text-align: center;
}


.more-content {
    display: none;
}

.article-container {
    max-height: 300px;
    overflow: scroll;
}

.article-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}

#read-more {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.comment-section {
    margin-top: 30px;
}

.comment {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.comment-nickname {
    font-weight: bold;
}

.comment-content {
    margin: 5px 0;
}

@media (max-width: 768px) {
    header nav ul li {
        display: block;
        margin: 10px 0;
    }

    header nav ul li a {
        display: block;
        text-align: center;
        margin: 5px 0;
    }

    footer {
        position: static;
        margin-top: 20px;
    }
}

.article-container {
    max-height: 400px;
    overflow: auto;
}
.active {
    color: green;
}



.article-thumbnail {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    display: block;
    color: #000;
    border-radius: 5px;
}

.article-title {
    font-weight: bold;
    color: #002147;
    margin-bottom: 5px;
}

.article-content {
    font-size: 14px;
    line-height: 1.5;
}

@media (max-width: 480px) {
    header {
        padding: 0.5em 0;
    }

    main {
        padding: 0.5em;
    }
}
